@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Восстановление пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Пожалуйста, проверьте Ваш Email для восстановления пароля.
    Please check your email to reset your password.
</p>

