@{
    ViewData["Title"] = "Contacts";
}

<h2>Лабораторная работа №3-4</h2>
<h3>Выполнили:</h3>

<address>
    <strong>Изотов Илья Николаевич:</strong> <a href="mailto:normall777@yandex.ru">normall777@yandex.ru</a><br />
    <strong>Куштанов Дмитрий Ильясович:</strong> <a href="mailto:rafnsvart.d@yandex.ru">rafnsvart.d@yandex.ru</a>
</address>
